# archivos locales
.env
.DS_Store
Thumbs.db
backups/
/vendor/
/composer.phar
/composer-setup.php
/composer-setup.sig

# DB
*.sql
!migrations/
!migrations/*.sql

# uploads
uploads/
*.rar
*.zip

# editor
*.sublime-workspace
*.sublime-project
