[Unit]
Description=Ejecución bisemanal del generador de Autoseguiment de Web Projectes

[Timer]
OnCalendar=Tue *-*-* 06:00:00 Europe/Madrid
OnCalendar=Fri *-*-* 06:00:00 Europe/Madrid
AccuracySec=1min
Persistent=true
Unit=web-proyectos-autoseguiment-generacion.service

[Install]
WantedBy=timers.target
